body {
  margin-top: -80px;
  margin-left: 200px;
  margin-right: 200px;
  max-width: 700px;
  position: fixed;
  top: 100px;
  left: 100px;
  right: 100px;
}
h2 {
  text-align: left;
  padding: 13px;
  text-transform: capitalize;
}
p {
  text-align: left;
}
.hourlyforecast,
.weather-forecast {
  width: 630px;
  padding: 8px;
  margin: auto 0;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 23px;
  text-align: center;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.weather-forecast-temperature-max{
  font-weight: bold;
}
.weather-forecast-temperature-min{
  font-size: 18px;
}

.weather-forecast {
  font-size: 28px;
  letter-spacing: 2px;
}
.icons {
  width: 55px;
}

.weather-app {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background: wheat;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}
.search-button {
  background: white;
  border-color: green;
  border-style: solid;
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;
  transition: all 0.3s;
  width: 100px;
  margin-left: 40px;
}

.search:hover {
  background: white;
  border: 2px solid #33313;
  color: #333133;
  cursor: pointer;
}
.total-forecast {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  
}
.units{
  font-size: 15px;
}
.city {
  border-style: solid;
  border-width: 1px;
  border-right: none;
  width: 120px;
  height: 150px;
}
.rain {
  border-style: solid;
  border-width: 1px;
  border-left: none;
  height: 150px;
}
.container-day-forecast{
  height: 180px;
  padding: 10px;
}

#icon {
  position: relative;
  bottom: 100px;
  max-width: 150px;
  margin-top: 100px;
}
#temperature {
  font-size: 45px;
}
#source{
  font-size: 15px;
  color: black;
  text-decoration: none;
  margin-top: 20px;
}
a {
  background: transparent;
  border: none;
  color: black;
  font-size: 15px;
  text-decoration: none;

.degrees:hover {
  color: #245bce;
  cursor: pointer;
}



